<mat-accordion>
  <mat-expansion-panel hideToggle *ngFor="let category of categories">

    <!-- Header -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{category}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="20%"
             fxFlex.xs="100%"
             fxLayoutAlign="stretch"
             *ngFor="let recipe of getRecipesInCategory(category) | async">
          <mat-card class="example-card mat-elevation-z4">
            <mat-card-header>
              <mat-card-title>{{recipe.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="https://assets.bonappetit.com/photos/622a6c4f7d1e521b467c3d0b/4:3/w_2560%2Cc_limit/20220307%2520A%2520SKEPTIC%2520TRIES%2520PANCAKES%2520LEDE.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                {{recipe.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-mini-fab color="accent"><mat-icon>edit</mat-icon></button>
              <div fxFlex></div>
              <button mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<br/>
<mat-divider></mat-divider>
<br/>
<button mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>


